.inventory-list {
  -fx-padding: 10px;
  -fx-background-color: black;
  -fx-background-radius: 10px;
}

.inventory-list-scroll {
  -fx-background-color: black;
  -fx-border-color: transparent;
}

/*.inventory-list > * > * {*/
/*    -fx-margin: 10px 0 10px 0;*/
/*}*/

.inventory-list * {
  -fx-font-weight: bold;
}

.inventory-list .gray {
  -fx-fill: #b4b4b4;
  -fx-text-fill: #b4b4b4;
}

.inventory-list .sub-item-background {
  -fx-background-color: #151515;
  -fx-max-width: infinity;
  -fx-max-height: infinity;
}

.inventory-list .center {
  -fx-max-width: infinity;
  -fx-alignment: center;
}

.inventory-list .vertical-padding {
  -fx-padding: 2px 0 3px 0px;
}

.inventory-list .sub-item-expiration-date {
  -fx-border-color: white;
  -fx-border-width: 0 0 0 1px;
  -fx-padding: 2px 0 3px 10px;
  -fx-alignment: center-left
}

.inventory-list .expiry-date * {
  -fx-fill: #b4b4b4;
}

.inventory-list .expiry-date .expired {
  -fx-fill: #f44949;
}