.sidebar {
  -fx-background-color: black;
  -fx-alignment: top-center;
  -fx-padding: 10px;
  -fx-spacing: 2px;
  -fx-pref-width: 140px;
}

.sidebar-logo {
  -fx-padding: 10px 0px 10px 0px;
}

.sidebar-button {
  -fx-max-width: infinity;
  -fx-alignment: center-left;
}

.selected .sidebar-button {
  -fx-text-fill: white;
}

.sidebar-dropdown-button {
  -fx-margin: 0px 0px 0px 5px;
}

.sidebar-dropdown {
  -fx-padding: 2px 0px 0px 15px;
  -fx-spacing: 2px;
}