.titled-page {
    -fx-background-color: transparent;
    -fx-padding: 20;
}

.title {
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.subtitle {
    -fx-font-size: 18;
    -fx-text-fill: #b4b4b4;
    -fx-padding: 0 0 20px 0;
}