.shopping-list-category-item > .label {
  -fx-font-weight: bold;
  -fx-font-size: 15px;
}

.shopping-list-category-item .shopping-list-category-item-text {
  -fx-padding: 0 10px 0 0
}

.shopping-list-category-item .shopping-list-category-item-text > .label {
  -fx-font-weight: bold;
  -fx-font-size: 14px;
  -fx-text-fill: #e6e6e6;
}