.root {
    -fx-base: transparent;
    -fx-text-fill: white;
    /*-fx-font-family: "Fira Sans";*/
    -fx-font-family: "Fira Code";
}

.root * {
    -fx-border-width: 0;
}

.main {
    -fx-background-color: #1b1b1b;
}