.root {
    /* -fx-font-size: 16pt; */
    /* -fx-font-family: "Courier New"; */
    -fx-base: transparent;
    -fx-text-fill: white;
    -fx-font-family: "Fira Code";
    -fx-letter-spacing: 0em;
}

.root * {
    -fx-border-width: 0;
}

.main {
    -fx-background-color: #1B1B1B;
}