.sidebar {
  -fx-background-color: black;
  -fx-alignment: top-center;
  -fx-padding: 10px;
  -fx-spacing: 2px;
  -fx-pref-width: 140px;
}

.sidebar-button {
  -fx-text-fill: #b4b4b4;
  -fx-max-width: infinity;
  -fx-alignment: center-left;
}

.sidebar-button.selected {
  -fx-text-fill: white;
}
