.std-dialog * {
  -fx-background-color: #1B1B1B;
  -fx-font-size: 14px;
  -fx-text-fill: #E6E6E6;
}

.dialog-pane {
  -fx-background-color: #1B1B1B;
  -fx-background-radius: 5px;
  -fx-text-fill: #E6E6E6;
}

.button {
  -fx-background-color: #16992B;
  -fx-font-weight: bold;
  -fx-text-fill: #FFFFFF;
}

.button-ok {
  -fx-background-color: #16992B;
}

.button-cancel {
  -fx-background-color: #FF0000;
}

.std-dialog Label {
  -fx-font-size: 24px !important;
  -fx-font-weight: bold;
}

.text-field * {
  -fx-prompt-text-fill: #EFEFEF;
  -fx-background-color: #000000;
  -fx-text-fill: #E6E6E6;
  -fx-padding: 16px;
}

.text-field {
  -fx-padding: 16;
}
